<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">

<head data-id="__react-email-head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body data-id="__react-email-body" style="
      background-color: rgb(255, 255, 255);
      margin-top: auto;
      margin-bottom: auto;
      margin-left: auto;
      margin-right: auto;
      font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
      padding: 0.5rem;
    ">
    <table align="center" width="100%" data-id="__react-email-container" role="presentation" cellspacing="0"
        cellpadding="0" border="0" style="
        max-width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
      ">
        <tbody>
            <tr style="width: 100%">
                <td>
                    <table align="center" width="100%" data-id="react-email-section" border="0" cellpadding="0"
                        cellspacing="0" role="presentation" style="
        border-width: 1px;
        border-style: solid;
        box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgb(0, 0, 0, 0.1),
          0 2px 4px -2px rgb(0, 0, 0, 0.1);
        border-radius: 0.25rem;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        width: 550px;
        border-color: rgb(14, 165, 233);
        position: relative;
        overflow: hidden;
      ">
                        <tbody>
                            <tr style="width: 100%">
                                <td>
                                    <table align="center" width="100%" data-id="react-email-section" border="0"
                                        cellpadding="0" cellspacing="0" role="presentation" style="
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                pointer-events: none;
              ">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img data-id="react-email-img"
                                                        src="https://fastly.jsdelivr.net/gh/mx-space/docs-images@master/images/chichi-1.jpeg"
                                                        alt="Decorative blurred image of Chichi character" style="
                        display: block;
                        outline: none;
                        border: none;
                        text-decoration: none;
                        mask-image: linear-gradient(
                          to bottom,
                          rgba(0, 0, 0, 1) 0%,
                          transparent 100%
                        );
                        -webkit-mask-image: linear-gradient(
                          to bottom,
                          rgba(0, 0, 0, 1) 0%,
                          transparent 100%
                        );
                        object-fit: contain;
                        max-width: 100%;
                        opacity: 0.2;
                        filter: blur(16px);
                      " />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table align="center" width="100%" data-id="react-email-section" border="0"
                                        cellpadding="0" cellspacing="0" role="presentation" style="margin-top: 32px">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img data-id="react-email-img"
                                                        src="https://mscpo.crashvibe.cn/logo.webp" style="
                        display: block;
                        outline: none;
                        border: none;
                        text-decoration: none;
                        margin-top: 0px;
                        margin-bottom: 0px;
                        margin-left: auto;
                        margin-right: auto;
                        border-radius: 0.75rem;
                        height: 3rem;
                        width: 3rem;
                      " />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <h1 data-id="react-email-heading" style="
                color: rgb(0, 0, 0);
                font-size: 18px;
                font-weight: 400;
                text-align: center;
                padding: 0px;
                margin-top: 30px;
                margin-bottom: 30px;
                margin-left: 0px;
                margin-right: 0px;
              ">
                                        Minecraft Server 集体宣传组织 (MSCPO)
                                    </h1>
                                    <strong data-id="react-email-text" style="
                font-size: 14px;
                line-height: 24px;
                margin: 16px 0;
                color: rgb(0, 0, 0);
              ">
                                        您的验证码是:
                                        <table align="center" width="100%" data-id="react-email-section" border="0"
                                            cellpadding="0" cellspacing="0" role="presentation" style="
                background-color: rgb(243, 244, 246);
                border-radius: 0.75rem;
                padding-left: 1rem;
                padding-right: 1rem;
              ">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p data-id="react-email-text" style="
                        font-size: 24px;
                        line-height: 24px;
                        margin: 16px 0;
                        color: rgb(14, 165, 233);
                        text-align: center;
                        font-weight: bold;
                        letter-spacing: 4px;
                      ">
                                                            {{code}}
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </strong>
                                    <p data-id="react-email-text" style="
                font-size: 14px;
                line-height: 24px;
                margin: 16px 0;
                color: rgb(0, 0, 0);
              ">
                                        请在验证页面输入此验证码完成邮箱验证。验证码有效期为 15 分钟。
                                    </p>
                                    <hr data-id="react-email-hr" style="
                width: 100%;
                border: none;
                border-top: 1px solid #eaeaea;
                border-width: 1px;
                border-style: solid;
                border-color: rgb(234, 234, 234);
                margin-top: 26px;
                margin-bottom: 26px;
                margin-left: 0px;
                margin-right: 0px;
              " />
                                    <table align="center" width="100%" data-id="react-email-section" border="0"
                                        cellpadding="0" cellspacing="0" role="presentation">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <p data-id="react-email-text" style="
                        font-size: 12px;
                        line-height: 24px;
                        margin: 16px 0;
                        color: rgb(107, 114, 128);
                      ">
                                                        {% match from_who %}
                                                        {% when Some with (source) %}
                                                        "{{ sentence }}" —— {{ sentence_from }}《{{ source }}》
                                                        {% when None %}
                                                        "{{ sentence }}" —— {{ sentence_from }}
                                                        {% endmatch %}
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table align="center" width="100%" data-id="react-email-section" border="0"
                                        cellpadding="0" cellspacing="0" role="presentation" style="margin-top: 1rem">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <p data-id="react-email-text" style="
                        font-size: 10px;
                        line-height: 24px;
                        margin: 16px 0;
                        text-align: center;
                        color: rgb(156, 163, 175);
                      ">
                                                        本邮件为系统自动发送，请勿直接回复~ <br />©{{fullyear}} Copyright MSCPO
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>